.btn-link {
  color: #fff;
}

.sortable-placeholder {
  border: 2px dashed #31a331;
}

.messageBox {
  min-height: 42px;
}

#addItemBtn button {
  font-size: 4rem;
}

#itemForm {
  border: var(--bs-border-width) solid var(--bs-border-color);
}

#item-list .card {
  min-height: 221px;
  transition: 0.3s;
}

#item-list .card-header {
  cursor: move;
}

#messageArea {
  position: fixed;
  right: 0;
  bottom: 0;
}